.App {
  display: grid;
  place-items: center;
  background-color: #090E11;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #131C21;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;  
  color: aliceblue;  
}

#login-tag {
  color: aliceblue;  
}